* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	background:#f8f8f8;
	background:url("images/contemporary_china.png");
	font-family:"montserrat", arial;
	position: relative;
	display: table-cell;
    vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}

.show-bg {
	background:url("images/tiles-01.png");
}

.anagram {
	padding-top: 30px;
	padding-bottom: 30px;
}

.options {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #707070; 
}

.form {
   border-radius: 8px;
   font-family: "Domine";
   line-height: 36px;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:10px;
   width:300px;
   }

.btn{
	border-radius: 5px;
	font-family: "Montserrat";
	color: #fff;
	font-size: 18px;
	background: #DB5461;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.btn:hover {
	background: #3D5467;
	text-decoration: none;
}

h1 {
	font-family: "Montserrat";
	color: #DB5461;
	border-bottom: 2px solid #3D5467;
	text-transform: uppercase;
	text-align: center;
}

h1.border {
	border-image:url("images/arrow.png") 0 0 60 0;
}
 
h2 {
	font-family: "Domine";
	color: #DB5461;
	text-align: center;
	font-size: 1.2 em;
}

label {
	font-family: "Domine";
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
}
 
p {
	font-family: "Montserrat";
	margin:0 10px 10px;
	line-height:1.4;
}

ul {
	font-family: "Montserrat";
	color: #DB5461;
	text-transform: uppercase;
	font-size: 20px;
	column-count: 3;
	-webkit-columns: 3;
	column-count: 3;
	-moz-column-fill: balance;
    column-fill: balance;
    position: relative;
    margin-right: 5px;
}

a {
	padding:5px; 
	color:#DB5461;
}

a.button {
	border-radius: 5px;
	font-family: "Montserrat";
	color: #fff;
	font-size: 14px;
	background: #DB5461;

	text-decoration: none;
}


