<!DOCTYPE html>
<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/people.css">
		<meta charset=”utf-8”>
		<title>Numerology App</title>
	</head>
	<body>
	<div class="wrapper">
		<div class="container">
			<div class="header">
			DISCOVER YOUR TRUE SELF!
			</div>
			<br />
			<%= yield %>
		</div>
		<div class="push">
		</div>
	</div>
	<div class="footer">Skillcrush 204 SINATRA & ACTIVERECORD (c) 2015</div>
  </body>
</html>
