<h2>Welcome to the</h2>
<h1>Anagram Generator 3.0</h1>
<form action="/" method="post" class="form">
  <label for="word">Enter 3 Letter Words ONLY Please.</label><br />
  <input type="text" name="word">
  <br />
  <input type="submit" class="btn" value="Show me the Anagrams">
</form>
