<!doctype html>
<html background: url(http://www.psdgraphics.com/file/colorful-triangles-background.jpg) no-repeat center center fixed;>
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<head>
<meta charset=”utf-8”>
<title>Numerology App</title>
</head>
<body>
<div class="container">
<div class="header">
<h1>Numerology Calculator: <em>Discover Your Life Path</em></h1>
</div>
<hr />
<h2 em>
<%= yield %>
</h2>
</div> 
</body>
</html>
